<html>
	<head>
		<script type="text/javascript" src="javascripts/jquery.js"></script>
		<script type="text/javascript" src="javascripts/json2.js"></script>
		<script type="text/javascript" src="javascripts/underscore.js"></script>
		<script type="text/javascript" src="javascripts/backbone.js"></script>
		<script type="text/javascript" src="javascripts/backbrace.min.js"></script>
		<script type="text/javascript" src="javascripts/humane.js"></script>
		<script type="text/javascript" src="javascripts/jquery-ui-1.8.20.custom.min.js"></script>

		<script type="text/javascript" src="javascripts/btapp.js"></script>
		<script type="text/javascript" src="javascripts/client.btapp.js"></script>
		<script type="text/javascript" src="javascripts/plugin.btapp.js"></script>
		<script type="text/javascript" src="javascripts/pairing.btapp.js"></script>
		<script type="text/javascript" src="javascripts/jstorage.min.js"></script>

		<script type="text/javascript" src="javascripts/application.js"></script>

		<link rel="stylesheet" type="text/css" href="stylesheets/ui-progress-bar.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/github.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/application.css" />
	</head>
	<body>

		<!-- TEMPLATES! -->
		<script type="text/template" id="file_template">
			<span class="file_name ui-widget-content"><%= name %></span>
			<div class="ui-progress-bar ui-container transition" id="progress_bar">
				<div class="ui-progress" style="width: <%= progress %>%; ">
					<span class="ui-label" style="display: none; ">Completed</span>
				</div>
			</div>
			<span class="file_size"><%= file_size %></span>
			<span class="file_date"><%= file_date %></span>
		</script>









		<div class="banner">
			<a href="http://github.com/pwmckenna/bubbles" style="z-index:9999;">Fork me on GitHub</a>
		</div>

		<div class="banner">
			<a href="" style="margin-top: -3px; border-top: 2px solid #333;border-bottom: 2px solid #333;z-index:0;">Fork me on GitHub</a>
		</div>

		<div class="bubble_container">
			<div class="bubble_center">
			</div>
		</div>

		<a class="add_user user_bubble bubble">
			<span>+</span>
		</a>

		<a class="add_bubble bubble">
			<span>+</span>
		</a>
		<a class="twitter_bubble bubble social_bubble">
			<img src="images/twitter_newbird_white.png" />
		</a>
		<a class="fb_bubble bubble social_bubble">
			<span>f</span>
		</a>
		<a class="email_bubble bubble social_bubble">
			<img src="images/email.png" />
		</a>

		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<span class="brand" href="#">
						Beam It Over
					</span>
				</div>
			</div>
		</div>
		<div class="navbar navbar-fixed-bottom">
			<div class="navbar-inner">
				<div class="container">
					<span class="brand" href="#">
						Powered By <a href="http://github.com/pwmckenna/btapp/">Btapp.js</a> + <a href="http://soshareit.com">SoShare</a>
					</span>
					<span class="brand nav pull-right" href="#">
						Blog: <a href="http://pwmckenna.github.com/2012/05/20/twitter-link.html">The Making of Beam It Over</a>
					</span>
				</div>
			</div>
		</div>
	</body>
</html>
