<html>
	<head>
		<!-- collection of general dependencies -->
		<script type="text/javascript" src="javascripts/lib/jquery.js"></script>
		<script type="text/javascript" src="javascripts/lib/json2.js"></script>
		<script type="text/javascript" src="javascripts/lib/underscore.js"></script>
		<script type="text/javascript" src="javascripts/lib/backbone.js"></script>

		<script type="text/javascript" src="javascripts/lib/humane.js"></script>

		<!-- jquery/jquery-ui submodule -->
		<script type="text/javascript" src="javascripts/jquery-ui/ui/jquery.ui.core.js"></script>
		<script type="text/javascript" src="javascripts/jquery-ui/ui/jquery.ui.widget.js"></script>
		<script type="text/javascript" src="javascripts/jquery-ui/ui/jquery.ui.mouse.js"></script>
		<script type="text/javascript" src="javascripts/jquery-ui/ui/jquery.ui.draggable.js"></script>
		<script type="text/javascript" src="javascripts/jquery-ui/ui/jquery.ui.droppable.js"></script>

		<!-- pwmckenna/floataway.jquery submodule -->
		<script type="text/javascript" src="javascripts/floataway.jquery/floataway.jquery.js"></script>
		<!-- pwmckenna/backbrace submodule -->
		<script type="text/javascript" src="javascripts/backbrace/backbrace.js"></script>
		<!-- pwmckenna/btapp submodule -->
		<script type="text/javascript" src="javascripts/btapp/btapp.js"></script>
		<script type="text/javascript" src="javascripts/btapp/client.btapp.js"></script>
		<script type="text/javascript" src="javascripts/btapp/plugin.btapp.js"></script>
		<script type="text/javascript" src="javascripts/btapp/pairing.btapp.js"></script>
		<!-- pwmckenna/jStorage submodule -->
		<script type="text/javascript" src="javascripts/jStorage/jstorage.min.js"></script>


		<script type="text/javascript" src="javascripts/application.js"></script>

		<link rel="stylesheet" type="text/css" href="stylesheets/ui-progress-bar.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/github.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/application.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/welcome.css" />

		<link rel="icon" 
		      type="image/png" 
		      href="images/icon.png">
  		<title>Paddle Over</title>

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-32225856-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>  		
	</head>
	<body>
		<div id="clouds"></div>
		<div id="sea"></div>
		<div id="island"></div>
		<div id="boat_trigger"></div>
		<img id="boat" src="images/boat.png" />

	    <div id="fb-root"></div>

		<!-- TEMPLATES! -->
		<script type="text/template" id="file_template">
			<span class="file_name ui-widget-content" title="<%= name %>"><%= name %></span>
			<div class="ui-progress-bar ui-container transition" id="progress_bar">
				<div class="ui-progress" style="width: <%= progress %>%; ">
					<span class="ui-label" style="display: none; ">Completed</span>
				</div>
			</div>
			<span class="file_size"><%= file_size %></span>
			<span class="file_date"><%= file_date %></span>
		</script>









		<div class="banner">
			<a href="http://github.com/pwmckenna/bubbles" style="border-top: 1px solid #333; border-bottom: 1px solid #333; z-index:1039;">Fork me on GitHub</a>
		</div>

		<div class="bubble_container">
			<div class="bubble_center">
			</div>
		</div>

		<div id="action_bubbles">
			<a class="add_bubble bubble">
				<span>+</span>
			</a>
			<a class="remove_bubble bubble">
				<img src="images/trash.png" />
			</a>
			<a class="computer_bubble bubble">
				<img src="images/folder.png" />
			</a>
			<a class="twitter_bubble bubble social_bubble" href="">
				<img src="images/twitter_newbird_white.png" />
			</a>
			<a class="fb_bubble bubble social_bubble">
				<span>f</span>
			</a>
		</div>
		
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<span class="brand">
						<a href="http://torque.bittorrent.com/labs">BitTorrent Torque Labs</a>: Paddle Over
					</span>
				</div>
			</div>
		</div>
		<div class="navbar navbar-fixed-bottom">
			<div class="navbar-inner">
				<div class="container">
					<span class="brand">
						Powered By <a href="http://github.com/pwmckenna/btapp/">Btapp.js</a>
					</span>
					<span class="brand nav pull-right">
						Blog: <a href="http://pwmckenna.github.com/2012/05/20/twitter-link.html">The Making of Paddle Over</a>
					</span>
				</div>
			</div>
		</div>


		<script type="text/template" id="welcome_name_template">
			<div class="contents">
				<h3>Welcome to Paddle Over!</h3>
				<h3>What is your name?</h3>
				<div class="subnote">When people see your shared files, this is the name they will see sharing it</div>
				<form class="form-horizontal">
					<input class="auto-focus" type="text" placeholder="Brigatocious Esquire" size="10">
					<a href="#" class="btn btn-primary">Next</a>
				</form>
			</div>
		</script>
		<script type="text/template" id="welcome_install_template">
			<div class="contents">
				<h3>Thanks <%= name %>!</h3>
				<span>Now we need to install the browser plugin that powers everything</span><br>
				<a href="<%= url %>" class="btn btn-primary">Download</a>
			</div>
		</script>
		<script type="text/template" id="welcome_explaination_template">
			<div class="contents">
				<h3><%= name %>, You're Ready to Roll!</h3>
<% if(typeof(friend) !== 'undefined') { %>
				<div class="explanation subnote">Keep in mind that while you can already see <%= friend %>'s files, no one can see yours until you give access them access using the social media buttons</div>
<% } else { %>
				<div class="explanation subnote">Note that you can't see other people's files until they share access via the social media buttons. To get started, let someone have access to yours by sending a message via Facebook, Twitter, or email. Enjoy!
<% } %>
				<form class="form-horizontal">
					<a href="#" class="btn btn-primary">Dive In!</a>
				</form>
			</div>
		</script>


		<div class="welcome_frame not_supported">
			<div class="contents">
				<h3>Coming Soon!</h3>
				<div class="subnote">In the meantime, try using<br> Chrome on Windows</div>
			</div>
		</div>




		<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
	</body>
</html>
