.file {
	padding-bottom: 30px;
	cursor: pointer;
}

.file:hover {
	color: black;
}

.file_size {
	float: left;
	font-size: 8pt;
}

.file_date {
	float: right;
	font-size: 8pt;
}

.file_name {
	white-space: nowrap;  
}

.bubble_container {
	position: absolute;
	width: 620px;
	height: 620px;
	left: 50%;
	top: 50%;
	margin-left: -310px;
	margin-top: -310px;

	border-radius: 310px;
	background-color: #49afcd;
	*background-color: #2f96b4;
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);

	box-shadow: inset -20px -20px 40px 20px #2b90ae;
	z-index: 5;
}

.bubble_center {
	position: absolute;
	width: 400px;
	height: 400px;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -200px;

	background-color: #FFFCEF;
	border-radius: 200px;

	font-size: 16px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #555;

	box-shadow: inset -20px -20px 40px 20px #FFFBDE
}

.bubble_center .contents {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -130px;
	margin-top: -150px;
	width: 260px;
	height: 300px;

	text-align: left;
	overflow-x: hidden;
	overflow-y: auto;
}

.bubble .badge {
	position: absolute;
	left: 65%;
	top: 65%;
}

.bubble {
	cursor: pointer;
	position: absolute;
	width: 100px;
	height: 100px;
	margin-left: -50px;
	margin-top: -50px;
	border-radius: 50px;

	line-height: 100px;
	text-align: center;

	font-size: 20px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.user_bubble {
	background-color: #fefefe;
	border-radius: 50px;
	color: #555;
	box-shadow: inset -4px -4px 8px 4px #e3e3e3;
	display: table;
}

.user_bubble p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  padding: 0 5px;
}

.user_bubble:hover, .add_bubble:hover, .remove_bubble:hover, .computer_bubble:hover {
	background-image: -ms-linear-gradient(top, #FFF68F, #FFFFAA);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF68F), to(#FFFFAA));
	background-image: -webkit-linear-gradient(top, #FFF68F, #FFFFAA);
	background-image: -o-linear-gradient(top, #FFF68F, #FFFFAA);
	background-image: -moz-linear-gradient(top, #FFF68F, #FFFFAA);
	background-image: linear-gradient(top, #FFF68F, #FFFFAA);
	background-repeat: repeat-x;
	border-color: #FFF68F #FFFFAA #FFFFAA;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#FFF68F', endColorstr='#FFFFAA', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.user_bubble:hover {
	box-shadow: inset -4px -4px 18px 4px #FFFACD;
}

.user_bubble.hover {
	background-color: #FFFF00;
	box-shadow: inset -4px -4px 18px 4px orange;
}

.user_bubble.selected, .add_bubble, .remove_bubble, .computer_bubble {
	background-color: #FFFACD;
	box-shadow: 0px 0px 3px 3px #2f96b4;
}

.countingcrows, .countingcrows:hover {
	background-color: #fff;
	background-image: url('../images/countingcrows.png');
	background-repeat: no-repeat;
	background-position: 2px;
}
.countingcrows:hover {
	background-color: #FFFFAA;
}

.deathgrips, .deathgrips:hover {
	background-image: url('../images/deathgrips.png');
}
.deathgrips:hover {
	background-color: #FFFFAA;
}

.prettylights, .prettylights:hover {
	background-image: url('../images/prettylights.png');
	background-repeat: no-repeat;
	background-position: 2px;
}
.prettylights:hover {
	background-color: #FFFFAA;
}

.add_bubble, .remove_bubble, .computer_bubble {
	box-shadow: 0px 0px 3px 3px #2f96b4;
}

.add_bubble {
	left: 12%;
	top: 50%;
	margin-top: -175px;
	color: #333;
}

.add_bubble span {
	font-family: 'Arial';
	font-weight: bold;
	font-size: 60pt;
}

.remove_bubble {
	left: 10%;
	top: 50%;
}

.computer_bubble {
	left: 12%;
	top: 50%;
	margin-top: 75px;
	color: #333;
}

.remove_bubble.hover, .computer_bubble.hover {
	background-color: #FFFF00;
	box-shadow: inset -4px -4px 18px 4px orange;
}

.remove_bubble img, .computer_bubble img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -30px;
	margin-top: -30px;

	width: 60px;
	height: 60px;
}

.social_bubble {
	color: #eee;
	
	background-image: -ms-linear-gradient(top, #3B5998, #3B5998);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3B5998), to(#3B5998));
	background-image: -webkit-linear-gradient(top, #547ED6, #2D4373);
	background-image: -o-linear-gradient(top, #3B5998, #3B5998);
	background-image: -moz-linear-gradient(top, #3B5998, #3B5998);
	background-image: linear-gradient(top, #3B5998, #3B5998);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#3B5998', endColorstr='#3B5998', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.social_bubble:hover {
	background-image: -ms-linear-gradient(top, #3B5998, #3B5998);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3B5998), to(#3B5998));
	background-image: -webkit-linear-gradient(top, #547ED6, #3299CC);
	background-image: -o-linear-gradient(top, #3B5998, #3B5998);
	background-image: -moz-linear-gradient(top, #3B5998, #3B5998);
	background-image: linear-gradient(top, #3B5998, #3B5998);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#3B5998', endColorstr='#3B5998', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.twitter_bubble {
	left: 88%;
	top: 50%;
	margin-top: -125px;
}

.fb_bubble {
	left: 88%;
	top: 50%;
	margin-top: 25px;
}

.fb_bubble span {
	font-family: 'Arial';
	font-weight: bold;
	font-size: 60pt;
	padding-left: 30px;
}

.ui-state-active {
	background: #fff;
}

.ui-state-hover {
	background: #f8f8d0;
}

.ui-draggable-dragging {
	z-index: 10;
}

#action_bubbles {
	position: absolute;
	width: 1200px;
	margin-left: -600px;
	height: 400px;
	margin-top: -200px;
	left: 50%;
	top: 50%;
	z-index: 4;
}

#boat_trigger {
	position: absolute;
	width: 75px;
	height: 75px;
	cursor: pointer;
	bottom: 80px;
	z-index: 3;
	left: 50%;
	margin-left: 95px;
}

#boat {
	position: absolute;
	bottom: 30px;
	right: -10%;
	height: 100px;
	z-index: 3;
}

#boat.move {
	animation-name:boat;
	animation-duration:60s;
	animation-timing-function:ease-in-out;
	animation-delay:0s;
	animation-iteration-count:infinite;
	animation-direction:normal;
	animation-play-state:running;
	/* Firefox: */
	-moz-animation-name:boat;
	-moz-animation-duration:60s;
	-moz-animation-timing-function:ease-in-out;
	-moz-animation-delay:0s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:normal;
	-moz-animation-play-state:running;
	/* Safari and Chrome: */
	-webkit-animation-name:boat;
	-webkit-animation-duration:60s;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-delay:0s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:normal;
	-webkit-animation-play-state:running;
}

@keyframes boat
{
0%   {right: -10%;}
100% {right: 100%;}
}

@-moz-keyframes boat /* Firefox */
{
0%   {right: -10%;}
100% {right: 100%;}
}

@-webkit-keyframes boat /* Safari and Chrome */
{
0%   {right: -10%;}
100% {right: 100%;}
}

body{
	background-color: #77d5fb;
	font-size: 16px;
	margin: 0 0;
	line-height: 17px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#clouds {
	background-image: url(../images/top_bg.png);
	position: absolute;
	top: 0px;
	height: 382px;
	width: 100%;
	z-index: 4;
}
#island {
	position: absolute;
	width: 1920px;
	margin-left: -960px;
	left: 50%;
	bottom: 0px;
	height: 316px;
	background-image: url(../images/bottom_bg.jpg);
	z-index: 3;
}
#sea {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-image: url(../images/bottom_bg_edge.jpg);
	height: 316px;
	z-index: 2;
}

#clouds.move{
	animation-name:clouds;
	animation-duration:30s;
	animation-timing-function:ease-in-out;
	animation-delay:0s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-play-state:running;
	/* Firefox: */
	-moz-animation-name:clouds;
	-moz-animation-duration:30s;
	-moz-animation-timing-function:ease-in-out;
	-moz-animation-delay:0s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:alternate;
	-moz-animation-play-state:running;
	/* Safari and Chrome: */
	-webkit-animation-name:clouds;
	-webkit-animation-duration:30s;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-delay:0s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-play-state:running;
	overflow: hidden;
}

@keyframes clouds
{
0%   {background-position: 0% 0%;}
100% {background-position: 100% 0%;}
}

@-moz-keyframes clouds /* Firefox */
{
0%   {background-position: 0% 0%;}
100% {background-position: 100% 0%;}
}

@-webkit-keyframes clouds /* Safari and Chrome */
{
0%   {background-position: 0% 0%;}
100% {background-position: 100% 0%;}
}

.navbar-inner {
	background-image: url(../images/tileable_wood_texture.png);
}

.navbar-fixed-bottom {
	border-top: 2px solid #333;
}

.navbar-fixed-top {
	border-bottom: 2px solid #333;
}

.container .brand {
	color: #333;
}